# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Generated items
/SecSys_TM4C/generated/*.*
/SecSys_TM4C/SecSysTM4c.uvguix.alexandru.gaal
/SecSys_TM4C/SecSysTM4c.uvguix.mihai.suteu
/SecSys_TM4C/SecSysTM4c.uvguix.Ninja
/SecSys_TM4C/SecSysTM4c.BAT